#mainBox{
    width: 100%;
    height: 700px;
    /* border: 1px solid teal; */
     margin-top: 10px;
     vertical-align: top; 
     text-align: center;
     font-family: "Museo Sans",sans-serif !important;
     font-weight: 500;
}
#chotu{
    width: 100%;
    height: 540px;
    /* border: 1px solid greenyellow; */
    vertical-align: top;

}
.chotu1{
    width: 18%;
    height: 220px;
    /* border: 1px solid tomato; */
    margin-top: 10px;
    vertical-align: top;
    display: inline-block; 
    margin-left: 7px;
}
.chotu3{
    width: 100%;
    height: 58%;
    /* border: 1px solid slateblue; */
    vertical-align: top;
    display: inline-block;

}
.chotuimg{
    width: 55%;
    height: 86%;

}
.chotupara{
    font-size: 20px;
    font-weight: bold;
    font-family: "Museo Sans",sans-serif !important;
    
}
.chotupara1{
    font-size: 18px;
    font-weight: lighter;
    font-family: "Museo Sans",sans-serif !important;
    /* line-height: 0px; */
    color: rgb(75, 73, 73);
    font-weight: bold;
}
#dishu{
    width: 100%;
    height: 45%;
    /* border: 1px solid tomato; */
    vertical-align: top;
    display: inline-block;
    margin: auto;
    margin-top: 35px;
}





#Box{
    width: 100%;
    vertical-align: top;
    /* border: 2px solid red; */
    height: 600px;
    margin-top: 5px;
    font-family: "Museo Sans",sans-serif !important;
    font-weight: 700;
    text-align: center;
}
#butt{
    background-color: #52b359;
    color: white;
    width: 13%;
    height: 50px;
    /* margin-left: 80px; */
    font-size: larger;
    margin-top: 10px;
    border-radius: 5px;
}
#BBox{
    width: 100%;
    height: 630px;
    /* border: 2px solid black; */
    vertical-align: top;
    font-family: "Museo Sans",sans-serif !important;
    font-weight: 700;
    text-align: center;
    background-color: #f3fbef;
}
.BBOx2{
    width: 48%;
    height: 480px;
    /* border:  2px solid #008080; */
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;

}
#imm{
    width: 35%;
    height: 470px ;
    vertical-align: top;
    display: inline-block;
    margin-top: 5px;
}
.iii{
     display: inline-block; 
    font-family: "Museo Sans",sans-serif !important;
     font-weight: bold;
    /* text-align: right; */
    color: hsla(0, 2%, 37%, 0.78);
    font-size: 17px;
    margin-left: 5px;
    /* height: 20px; */
    /* margin-top: -12px; */
    line-height: 0px;
    /* border: 1px solid teal; */


}
.iii1{
     display: inline-block; 
    font-family: "Museo Sans",sans-serif !important;
     font-weight: bolder;
     /* row-gap: 0px; */
    /* text-align: left; */
    color: black;
    font-size: 17px;
     /* margin-top: 10px;  */
     /* margin-right: 50px;  */
     /* padding-top: 10px ; */
     /* border: teal solid 1px; */
}
#divvv{
    display: inline-flex;
    /* margin-left: 5px; */
    margin-top: 15px;
    vertical-align: top;
    width: 30%;
    height: 45px;
    column-gap: 10px;
}
#divvv2{
     /* border: 1px solid black; */ 
    width: 70%;
    height: 70%;
    text-align: left;
    margin: auto;
    line-height: 1px;
    margin-top: 90px;
}





#footermainbox{
    /* border: solid black 1px ; */
    height: 600px;
    width: 100%;
    display: inline-block;
     vertical-align: top; 
    /* margin-top: 17%; */
}
.futbox1{
    height: 70px;
    width: 100%;
    background-color: #d5e0ea;
    color: #3c3c3c;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    /* border:1px solid blue ; */
}
#futbox2{
    height: 450px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    /* border: solid teal 1px; */
}
#para{
   font-family: "Museo Sans",sans-serif !important;
   color: #000000; 
   font-weight: bold;
   text-align: left;
   letter-spacing: normal;
   margin-top: 25px;
   margin-left: 60px; 
   display: inline-block;
}
#play{
    display: inline-block;
    margin-left: 500px;
    margin-top: 10px;
    font-size: 70px;
    vertical-align: top;

}
#apple{
    display: inline-block;
    margin-left: 40px; 
    margin-top: 10px;
    font-size: 80px;
    vertical-align: top;
}
.futbox3{
    display: inline-block;
    text-align: center;
    margin-left: 3px;
    width: 18%;
    height: 448px;
    /* border: 1px solid red; */
    vertical-align: top;
    font-family: "Museo Sans",sans-serif !important;
}
.hr{
    color: green;
    background-color: green;
    /* width: 120px; */
    text-align: left;
    

}
.futbox4{
    display: inline-block;
    width: 21.5%;
    text-align: center;
    margin-left: 2px;
    height: 448px;
    vertical-align: top;
    /* border: green solid 1px; */
    font-family: "Museo Sans",sans-serif !important ;

}
.icon{
    letter-spacing: normal;
    margin-top: 20px;
    line-height: 20px;
    padding: 10px;
    text-align: left;
    margin-left: 8px;

    font-size: 15px;
    font-weight: bolder;
    font-family: "Museo Sans",sans-serif !important ;

}
.icon > i{
    color: green;
    font-size: large;
    margin-right: 4px;
}
.icon:hover{
    color: green;
}
#h44{
    line-height: 20px;
    letter-spacing: normal;
    font-family:"Museo Sans",sans-serif !important ;
}
#inpu{
    width: 90%;
    margin-left: 5px;
    height: 45px;
}
#but{
    width: 40%;
    height: 45px;
    background-color: black;
    color: white;
    /* padding: 10px; */
    margin-top: 20px; 
    margin-right: 140px; 
    display: inline-block;
    vertical-align: top;
    font-family:sans-serif -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    border-radius: 5px;
}
#imgfut{
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    width: 40%;
    margin-top: 15px;
    margin-left: 20px;
}
#icon2{
    display: inline-flex;
    margin-left: 150px;
    font-size: 30px;
    vertical-align: top;
    margin-top: 10px;
    column-gap: 20px;  

}
#futtext{
    font-size: 20px;
    font-weight: bolder;
    color: black;
     margin-left: 25px; 
    margin-top: 10px;
    display: inline-block;
}
